@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f8fafc;
}

body {
  @apply font-sans text-slate-800 antialiased;
  min-height: 100vh;
}

#app {
  /*  GPU 加速 */
  transform: translateZ(0);
}

/* 玻璃擬態效果 */
.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20;
}

/* 落雪背景容器 */
#snow-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
